$text-color: #081839;
$bg--main: #DFE5EB;
$bg-grey: #E8ECF0;
$placeholder: #68686D;
$pink: #E35191;
$pink--hover: #D62D77;
$grey: #808398;
$lightgrey: #E5E5E5;
$darkgrey: #808398;
$text-color-second: #26272C;