.footer{
    &__inner{
        background-color: $grey;
        padding: 30px 0;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        max-width: 138px;
        max-height: 30px;
    }
    &__item{
        display: flex;
        align-items: center;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    &__item:last-child{
        margin-right: 0;
    }
    &__text{
        text-transform: uppercase;
        color: rgba(255,255,255, .5);
    }
    a{
        color: #fff;
    }

    @media (max-width: 1199px){
        &__content {
            justify-content: space-around;
        }
        &__item:nth-child(3) {
            margin-right: 0;
        }
    }
    @media (max-width: 991px){
        &__logo {
            order: 1;
        }

        .phone--bottom {
            order: 2;
        }

        &__contacts {
            order: 3;
        }

        &__policy {
            order: 4;
        }
        &__item{
            margin: 0 0 15px;
        }
        &__text {
            order: 5;
        }
        &__inner{
            padding: 20px 0;
        }
        &__content{
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }
    }
    @media (max-width: 575px){
        &__item{
            margin-bottom: 20px;
        }
        &__text{
            font-size: 10px;
        }
    }
}
